<div class="row">
  <div class="col-md-8 push-md-2">
    <div class="card">
      <div class="card-header">
        TIMESHEETS PERIODS
      </div>
      <div class="card-block" *ngIf="isLoaded">
        <div class="form-group float-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addmodal">
            Add Period
          </button>
        </div>
        <div class="form-group">
          <table class="table table-hover table-outline mb-0 hidden-sm-down" *ngIf="isLoaded">
            <thead class="thead-default">
              <tr>
                <td class="text-center">Period Start Date <a class="fa fa-sort" (click)="order.emit('PeriodStart')"></a></td>
                <td class="text-center">Period End Date <a class="fa fa-sort" (click)="order.emit('PeriodEnd')"></a></td>
                <td class="text-center">Reminder 1 Date <a class="fa fa-sort" (click)="order.emit('Reminder1Date')"></a></td>
                <td class="text-center">Reminder 2 Date <a class="fa fa-sort" (click)="order.emit('Reminder2Date')"></a></td>
                <td class="text-center">Period Status <a class="fa fa-sort" (click)="order.emit('LockStatusId')"></a></td>
                <td class="text-center">Action </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let period of periods">
                <td class="text-center">{{period.PeriodStart | date: 'dd-MMM-yy'}}</td>
                <td class="text-center">{{period.PeriodEnd | date: 'dd-MMM-yy'}}</td>
                <td class="text-center">{{period.Reminder1 | date: 'dd-MMM-yy'}}</td>
                <td class="text-center">{{period.Reminder2 | date: 'dd-MMM-yy'}}</td>
                <td class="text-center" *ngIf="period.Status == 'Locked'"><span class="badge badge-danger timego-status">{{period.Status}}</span></td>
                <td class="text-center" *ngIf="period.Status == 'Unlocked'"><span class="badge badge-success timego-status">{{period.Status}}</span></td>
                <td class="text-center">
                  <button type="button" *ngIf="period.Status == 'Unlocked'" class="btn btn-sm btn-danger" (click)="changeStatusAction({id: period.Id, status: 'Locked'})">Lock</button>
                  <button type="button" *ngIf="period.Status == 'Locked'" class="btn btn-sm btn-success" (click)="changeStatusAction({id: period.Id, status: 'Unlocked'})">Unlock</button>
                  <button type="button" class="btn btn-sm btn-danger" (click)="delete.emit({id: period.Id, paging: pagingModel})">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <pagination [totalItems]="pagingModel.count" [(ngModel)]="pagingModel.page" (pageChanged)="changePage.emit({
            orderBy: pagingModel.orderBy,
            page: $event.page,
            pageSize: pagingModel.pageSize,
            IsAscending: !pagingModel.IsAscending,
            count: pagingModel.count,
            IsOrder: false})"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="Add period" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header timego-modal">
        <h4 class="modal-title">Add period</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body timego-modal">
        <div class="form-group">
          <label for="company-name">Start date</label>
          <div class="input-group mb-3 required">
            <span class="input-group-addon">
              <i class="icon-calendar"></i>
            </span>
            <!--<ng2-datepicker [(ngModel)]="addTimeoff.StartDate" class="col-md-12"></ng2-datepicker>-->
            <input required [(ngModel)]="addPeriod.StartDate" type="date" class="datepicker" />
          </div>
        </div>
        <div class="form-group">
          <label for="company-name">Reminder 1 Date</label>
          <div class="input-group mb-3 required">
            <span class="input-group-addon">
              <i class="icon-calendar"></i>
            </span>
            <input required [(ngModel)]="addPeriod.Reminder1" type="date" class="datepicker" />
          </div>
        </div>
        <div class="form-group">
          <label for="company-name">Reminder 2 Date</label>
          <div class="input-group mb-3 required">
            <span class="input-group-addon">
              <i class="icon-calendar"></i>
            </span>
            <input required [(ngModel)]="addPeriod.Reminder2" type="date" class="datepicker" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addPeriodAction(addPeriod)">Add</button>
      </div>
    </div>
  </div>
</div>