<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        {{ 'EmployeeHeader' | translate }}
      </div>
      <div class="card-block" *ngIf="isLoaded">
        <div class="form-group float-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
            {{ 'AddEmployee' | translate }}
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteModal">
            {{ 'InviteEmployee' | translate }}
          </button>
        </div>
        <div class="form-group">
          <table class="table table-hover table-outline mb-0 hidden-sm-down" *ngIf="isLoaded">
            <thead class="thead-default">
              <tr>
                <td class="text-center">{{ 'EmployeeId' | translate }} <a [ngClass]="getArrowClass('id')" (click)="order.emit('id')"></a></td>
                <td class="text-center">{{ 'FirstName' | translate }} <a [ngClass]="getArrowClass('FirstName')" (click)="order.emit('FirstName')"></a></td>
                <td class="text-center">{{ 'LastName' | translate }} <a [ngClass]="getArrowClass('LastName')" (click)="order.emit('LastName')"></a></td>
                <td class="text-center">{{ 'Email' | translate }} <a [ngClass]="getArrowClass('EmailAddress')" (click)="order.emit('EmailAddress')"></a></td>
                <td class="text-center">{{ 'Phone' | translate }} <a [ngClass]="getArrowClass('PhoneNumber')" (click)="order.emit('PhoneNumber')"></a></td>
                <td class="text-center">{{ 'Last4SS' | translate }} <a [ngClass]="getArrowClass('SocialSecurityNumber')" (click)="order.emit('SocialSecurityNumber')"></a></td>
                <td class="text-center">{{ 'IsAdmin' | translate }} <a [ngClass]="getArrowClass('IsAdmin')" (click)="order.emit('IsAdmin')"></a></td>
                <td class="text-center">{{ 'IsActive' | translate }} <a [ngClass]="getArrowClass('IsActive')" (click)="order.emit('IsActive')"></a></td>
                <td class="text-center">{{ 'IsRegistrated' | translate }} <a [ngClass]="getArrowClass('IsRegistrate')" (click)="order.emit('IsRegistrate')"></a></td>
                <td class="text-center">{{ 'CalculateOvertime' | translate }} <a [ngClass]="getArrowClass('IsOvertimeCalculated')" (click)="order.emit('IsOvertimeCalculated')"></a></td>
                <td class="text-center">{{ 'Action' | translate }} </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="text-center">{{user.Id}}</td>
                <td class="text-center">{{user.FirstName}}</td>
                <td class="text-center">{{user.LastName}}</td>
                <td class="text-center">{{user.Email}}</td>
                <td class="text-center">{{user.Phone}}</td>
                <td class="text-center">{{user.Last4Ss}}</td>
                <td class="text-center" *ngIf="user.IsAdmin"><span class="badge badge-success timego-status">{{user.IsAdmin ? 'Yes' : 'No'}}</span></td>
                <td class="text-center" *ngIf="!user.IsAdmin"><span class="badge badge-danger timego-status">{{user.IsAdmin ? 'Yes' : 'No'}}</span></td>
                <td class="text-center" *ngIf="user.IsActive"><span class="badge badge-success timego-status">{{user.IsActive ? 'Yes' : 'No'}}</span></td>
                <td class="text-center" *ngIf="!user.IsActive"><span class="badge badge-danger timego-status">{{user.IsActive ? 'Yes' : 'No'}}</span></td>

                <td class="text-center" *ngIf="user.IsRegistrate"><span class="badge badge-success timego-status">{{'Registrated'}}</span></td>
                <td class="text-center" *ngIf="!user.IsRegistrate && oldIvite(user)"><span class="badge badge-danger timego-status">{{'No Confirmed'}}</span></td>
                <td class="text-center" *ngIf="!user.IsRegistrate && !oldIvite(user)"><span class="badge badge-warning timego-status">{{'Waiting'}}</span></td>

                <td class="text-center" *ngIf="user.IsOvertimeCalculated"><span class="badge badge-success timego-status">{{user.IsOvertimeCalculated ? 'Yes' : 'No'}}</span></td>
                <td class="text-center" *ngIf="!user.IsOvertimeCalculated"><span class="badge badge-danger timego-status">{{user.IsOvertimeCalculated ? 'Yes' : 'No'}}</span></td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editModal" (click)="cloneEditUser(user)">{{ 'Edit' | translate }}</button>
                    <button [disabled]="user.IsRegistrate" type="button" class="btn btn-sm btn-success" (click)="reinvite.emit(user.Id)">{{ 'ReInvite' | translate }}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <pagination [totalItems]="pagingModel.count" [(ngModel)]="pagingModel.page" (pageChanged)="changePage.emit({
            orderBy: pagingModel.orderBy,
            page: $event.page,
            pageSize: pagingModel.pageSize,
            IsAscending: pagingModel.IsAscending,
            count: pagingModel.count,
            IsOrder: false})"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="add employee" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header timego-modal">
        <h4 class="modal-title">{{ 'Add' | translate }} {{ 'Employee' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div [formGroup]="addform">
        <div class="modal-body timego-modal">
          <div class="form-group">
            <label for="company-name">{{ 'FirstName' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="icon-user"></i>
              </span>
              <input type="text" formControlName="FirstName" class="form-control" id="company-name" placeholder="{{ 'FirstName' | translate }}" [(ngModel)]="addEmployee.FirstName" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="addform.controls.FirstName.errors && (addform.controls.FirstName.dirty || addform.controls.FirstName.touched)">
              <p *ngIf="addform.controls.FirstName.errors.required">{{ 'FieldIsRequired' | translate }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="company-name">{{ 'LastName' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="icon-user"></i>
              </span>
              <input type="text" formControlName="LastName" class="form-control" id="company-name" placeholder="{{ 'LastName' | translate }}" [(ngModel)]="addEmployee.LastName" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="addform.controls.LastName.errors && (addform.controls.LastName.dirty || addform.controls.LastName.touched)">
              <p *ngIf="addform.controls.LastName.errors.required">{{ 'FieldIsRequired' | translate }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="company-name">{{ 'Email' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="">@</i>
              </span>
              <input type="email" formControlName="Email" class="form-control" id="company-name" placeholder="{{ 'Email' | translate }}" [(ngModel)]="addEmployee.Email" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="addform.controls.Email.errors && (addform.controls.Email.dirty || addform.controls.Email.touched)">
              <p *ngIf="addform.controls.Email.errors.required">{{ 'FieldIsRequired' | translate }}</p>
              <p *ngIf="addform.controls.Email.errors.pattern">{{ 'EmailNotValid' | translate }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="company-name">{{ 'Password' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="icon-lock"></i>
              </span>
              <input type="password" formControlName="Password" class="form-control" id="company-name" placeholder="{{ 'Password' | translate }}" [(ngModel)]="addEmployee.Password" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="addform.controls.Password.errors && (addform.controls.Password.dirty || addform.controls.Password.touched)">
              <p *ngIf="addform.controls.Password.errors.required">{{ 'FieldIsRequired' | translate }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="company-name">{{ 'PhoneNumber' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="icon-phone"></i>
              </span>
              <input type="text" formControlName="PhoneNumber" class="form-control" id="company-name" placeholder="{{ 'PhoneNumber' | translate }}" [(ngModel)]="addEmployee.PhoneNumber" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="addform.controls.PhoneNumber.errors && (addform.controls.PhoneNumber.dirty || addform.controls.PhoneNumber.touched)">
              <p *ngIf="addform.controls.PhoneNumber.errors.required">{{ 'FieldIsRequired' | translate }}</p>
            </div>
          </div>
          <div class="cntr">
            <label for="admin" class="label-cbx">
              <input id="admin" type="checkbox" class="invisible" [(ngModel)]="addEmployee.IsAdmin">
              <div class="checkbox">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                  <polyline points="4 11 8 15 16 6"></polyline>
                </svg>
              </div>
              <span>{{ 'IsAdmin' | translate }}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close' | translate }}</button>
          <button *ngIf="!addform.valid" type="button" class="btn btn-primary" data-dismiss="modal" (click)="add.emit(addEmployee)" disabled>{{ 'Add' | translate }}</button>
          <button *ngIf="addform.valid" type="button" class="btn btn-primary" data-dismiss="modal" (click)="add.emit(addEmployee)">{{ 'Add' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="invite employee" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header timego-modal">
        <h4 class="modal-title">{{ 'Invite' | translate }} {{ 'Employee' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div [formGroup]="inviteform">
        <div class="modal-body timego-modal">
          <div class="form-group">
            <label for="company-name">{{ 'FirstName' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="icon-user"></i>
              </span>
              <input type="text" formControlName="FirstName" class="form-control" id="company-name" placeholder="{{ 'FirstName' | translate }}" [(ngModel)]="inviteModel.FirstName" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="inviteform.controls.FirstName.errors && (inviteform.controls.FirstName.dirty || inviteform.controls.FirstName.touched)">
              <p *ngIf="inviteform.controls.FirstName.errors.required">{{ 'FieldIsRequired' | translate }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="company-name">{{ 'LastName' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="icon-user"></i>
              </span>
              <input type="text" formControlName="LastName" class="form-control" id="company-name" placeholder="{{ 'LastName' | translate }}" [(ngModel)]="inviteModel.LastName" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="inviteform.controls.LastName.errors && (inviteform.controls.LastName.dirty || inviteform.controls.LastName.touched)">
              <p *ngIf="inviteform.controls.LastName.errors.required">{{ 'FieldIsRequired' | translate }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="company-name">{{ 'Email' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="">@</i>
              </span>
              <input type="text" class="form-control" id="company-name" placeholder="{{ 'Email' | translate }}" [(ngModel)]="inviteModel.Email" formControlName="Email" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="inviteform.controls.Email.errors && (inviteform.controls.Email.dirty || inviteform.controls.Email.touched)">
              <p *ngIf="inviteform.controls.Email.errors.required">{{ 'FieldIsRequired' | translate }}</p>
              <p *ngIf="inviteform.controls.Email.errors.pattern">{{ 'EmailNotValid' | translate }}</p>
            </div>
          </div>
          <div class="cntr">
            <label for="adminInvite" class="label-cbx">
              <input id="adminInvite" type="checkbox" class="invisible" [(ngModel)]="inviteModel.IsAdmin">
              <div class="checkbox">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                  <polyline points="4 11 8 15 16 6"></polyline>
                </svg>
              </div>
              <span>{{ 'IsAdmin' | translate }}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close' | translate }}</button>
          <button *ngIf="!inviteform.valid" type="button" class="btn btn-primary" data-dismiss="modal" (click)="invite.emit(inviteModel)" disabled>{{ 'Invite' | translate }}</button>
          <button *ngIf="inviteform.valid" type="button" class="btn btn-primary" data-dismiss="modal" (click)="invite.emit(inviteModel)">{{ 'Invite' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="edit employee" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header timego-modal">
        <h4 class="modal-title">{{ 'Edit' | translate }} {{ 'Employee' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div [formGroup]="editform">
        <div class="modal-body timego-modal">
          <div class="form-group">
            <label for="company-name">{{ 'FirstName' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="icon-user"></i>
              </span>
              <input type="text" formControlName="FirstName" class="form-control" id="company-name" placeholder="{{ 'FirstName' | translate }}" [(ngModel)]="editModel.FirstName" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="editform.controls.FirstName.errors && (editform.controls.FirstName.dirty || editform.controls.FirstName.touched)">
              <p *ngIf="editform.controls.FirstName.errors.required">{{ 'FieldIsRequired' | translate }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="company-name">{{ 'LastName' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="icon-user"></i>
              </span>
              <input type="text" formControlName="LastName" class="form-control" id="company-name" placeholder="{{ 'LastName' | translate }}" [(ngModel)]="editModel.LastName" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="editform.controls.LastName.errors && (editform.controls.LastName.dirty || editform.controls.LastName.touched)">
              <p *ngIf="editform.controls.LastName.errors.required">{{ 'FieldIsRequired' | translate }}</p>
            </div>
          </div>
          <div class="form-group">
            <label for="company-name">{{ 'Email' | translate }}</label>
            <div class="input-group mb-3 required">
              <span class="input-group-addon">
                <i class="">@</i>
              </span>
              <input type="text" class="form-control" id="company-name" placeholder="{{ 'Email' | translate }}" [(ngModel)]="editModel.Email" formControlName="Email" />
            </div>
            <div class="form-control-feedback validation-error"
                 *ngIf="editform.controls.Email.errors && (editform.controls.Email.dirty || editform.controls.Email.touched)">
              <p *ngIf="editform.controls.Email.errors.required">{{ 'FieldIsRequired' | translate }}</p>
              <p *ngIf="editform.controls.Email.errors.pattern">{{ 'EmailNotValid' | translate }}</p>
            </div>
          </div>
          <div class="cntr">
            <label for="adminedit" class="label-cbx">
              <input id="adminedit" type="checkbox" class="invisible" [(ngModel)]="editModel.isAdmin">
              <div class="checkbox">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                  <polyline points="4 11 8 15 16 6"></polyline>
                </svg>
              </div>
              <span>{{ 'IsAdmin' | translate }}</span>
            </label>
          </div>
          <div class="cntr">
            <label for="IsActiveEdit" class="label-cbx">
              <input id="IsActiveEdit" type="checkbox" class="invisible" [(ngModel)]="editModel.IsActive">
              <div class="checkbox">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                  <polyline points="4 11 8 15 16 6"></polyline>
                </svg>
              </div>
              <span>{{ 'IsActive' | translate }}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close' | translate }}</button>
          <button *ngIf="!editform.valid" type="button" class="btn btn-primary" data-dismiss="modal" (click)="edit.emit(editModel)" disabled>{{ 'Save' | translate }}</button>
          <button *ngIf="editform.valid" type="button" class="btn btn-primary" data-dismiss="modal" (click)="edit.emit(editModel)">{{ 'Save' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>