<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Alba Bootstrap 4 Admin Template">
    <meta name="author" content="Lukasz Holeczek">
    <meta name="keyword" content="Alba Bootstrap 4 Admin Template">
    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <title>@ViewBag.Title - TimeGo.com</title>
    <!-- Icons -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- Bootstrap and necessary plugins -->
    <script src="~/Content/js/libs/jquery.min.js"></script>
    <script src="~/Content/js/libs/tether.min.js"></script>
    <script src="~/Content/js/libs/bootstrap.min.js"></script>
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>

</html>