@{
    ViewBag.Title = "Home";
}

<div class="row">
    <h2>TimeGo.com:  Easy-to-use &amp; affordable timesheets system for small business!</h2>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="h3" style="line-height: 45px;">
            <li>
                Employees can enter timesheets from a computer or phone browser
            </li>

            <li>
                Send SMS Text and Email reminders when employees haven't submitted on time
            </li>

            <li>
                Employees can  send vacation requests that are queued for approval
            </li>

            <li>
                Automatically calculate total hours and costs for payroll
            </li>

            <li>
                Cloud based with nothing to install
            </li>

            <li>
                Setup in minutes
            </li>

            <li>
                Free for 1 to 3 employees, test it out before adding more users
            </li>
        </ul>
    </div>
</div>    

<div class="row">
    <a class="" href="/SignUp"><h3>SIGN UP NOW!</h3></a>
</div>
