<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        {{ 'TimeoffHeader' | translate }}
      </div>
      <div class="card-block" *ngIf="isLoaded">
        <div class="form-group float-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addmodal">
            {{ 'AddRequest' | translate }}
          </button>
        </div>
        <div class="form-group">
          <table class="table table-hover table-outline mb-0 hidden-sm-down" *ngIf="isLoaded">
            <thead class="thead-default">
              <tr>
                <td class="text-center">{{ 'UserNameTable' | translate }} <a [ngClass]="getArrowClass('id')" (click)="order.emit('id')"></a></td>
                <td class="text-center">{{ 'StartDate' | translate }} <a [ngClass]="getArrowClass('FromDate')" (click)="order.emit('FromDate')"></a></td>
                <td class="text-center">{{ 'EndDate' | translate }} <a [ngClass]="getArrowClass('ToDate')" (click)="order.emit('ToDate')"></a></td>
                <td class="text-center">{{ 'ReturningToWork' | translate }} <a [ngClass]="getArrowClass('ReturningToWork')" (click)="order.emit('ReturningToWork')"></a></td>
                <td class="text-center">{{ 'Reasone' | translate }} <a [ngClass]="getArrowClass('Reason')" (click)="order.emit('Reason')"></a></td>
                <td class="text-center">{{ 'Status' | translate }} <a [ngClass]="getArrowClass('ApprovalStatusId')" (click)="order.emit('ApprovalStatusId')"></a></td>
                <td class="text-center">{{ 'Action' | translate }} </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let timeoff of timeoffrequests">
                <td class="text-center">{{timeoff.UserName}}</td>
                <td class="text-center">{{timeoff.StartDate | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center">{{timeoff.EndDate | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center">{{timeoff.ReturningToWork | date: 'dd/MM/yyyy'}}</td>
                <td class="text-center">{{timeoff.Reasone}}</td>
                <td class="text-center" *ngIf="timeoff.Status == 'Canceled'"><span class="badge badge-default timego-status">{{timeoff.Status}}</span></td>
                <td class="text-center" *ngIf="timeoff.Status == 'Waiting for Approval'"><span class="badge badge-warning timego-status">{{timeoff.Status}}</span></td>
                <td class="text-center" *ngIf="timeoff.Status == 'Denined'"><span class="badge badge-danger timego-status">{{timeoff.Status}}</span></td>
                <td class="text-center" *ngIf="timeoff.Status == 'Accepted'"><span class="badge badge-success timego-status">{{timeoff.Status}}</span></td>
                <td class="text-center" *ngIf="role == 'Task Manager'">
                  <button type="button" [disabled]="timeoff.Status != 'Waiting for Approval'" class="btn btn-sm btn-success" (click)="changeStatusAction({id: timeoff.Id, status: 'Accepted'})">{{ 'Approve' | translate }}</button>
                  <button type="button" [disabled]="timeoff.Status != 'Waiting for Approval'" class="btn btn-sm btn-danger" (click)="changeStatusAction({id: timeoff.Id, status: 'Denined'})">{{ 'Deny' | translate }}</button>
                </td>
                <td class="text-center" *ngIf="role == 'Employee'">
                  <button type="button" [disabled]="timeoff.Status == 'Canceled'" class="btn btn-sm btn-danger" (click)="changeStatusAction({id: timeoff.Id, status: 'Canceled'})">{{ 'Cancel' | translate }}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <pagination [totalItems]="pagingModel.count" [(ngModel)]="pagingModel.page" (pageChanged)="changePage.emit({
            orderBy: pagingModel.orderBy,
            page: $event.page,
            pageSize: pagingModel.pageSize,
            IsAscending: !pagingModel.IsAscending,
            count: pagingModel.count,
            IsOrder: false})"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="Add Timeoff request" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header timego-modal">
        <h4 class="modal-title">{{ 'AddRequestTimeoff' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body timego-modal">
        <div class="form-group">
          <label for="company-name">{{ 'StartDate' | translate }}</label>
          <div class="input-group mb-3 required">
            <span class="input-group-addon">
              <i class="icon-calendar"></i>
            </span>
            <ngx-date-picker [(selectedDate)]="addTimeoff.StartDate"></ngx-date-picker>
          </div>
        </div>
        <div class="form-group">
          <label for="company-name">{{ 'EndDate' | translate }}</label>
          <div class="input-group mb-3 required">
            <span class="input-group-addon">
              <i class="icon-calendar"></i>
            </span>
            <ngx-date-picker [(selectedDate)]="addTimeoff.EndDate"></ngx-date-picker>
          </div>
        </div>
        <div class="form-group">
          <label for="company-name">{{ 'ReturningToWork' | translate }}</label>
          <div class="input-group mb-3 required">
            <span class="input-group-addon">
              <i class="icon-calendar"></i>
            </span>
            <ngx-date-picker [(selectedDate)]="addTimeoff.ReturningToWork"></ngx-date-picker>
          </div>
        </div>
        <div class="form-group">
          <label for="company-name">{{ 'Reasone' | translate }}</label>
          <div class="input-group mb-3 required">
            <span class="input-group-addon">
              <i class="icon-note"></i>
            </span>
            <input type="text" class="form-control" id="company-name" placeholder="Reasone" [(ngModel)]="addTimeoff.Reasone" />
          </div>
        </div>
        <div class="row form-group validation-error" *ngIf="addTimeoff.StartDate < dateNow || addTimeoff.EndDate < dateNow">
          <h6 class="col-md-10">Please, select a date after today's date</h6>
        </div>
        <div class="row form-group validation-error" *ngIf="addTimeoff.StartDate > addTimeoff.EndDate">
          <h6 class="col-md-10">Please, select a end date after start date</h6>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTimeoffAction(addTimeoff)" [disabled]="addTimeoff.StartDate < dateNow || addTimeoff.EndDate < dateNow || addTimeoff.StartDate > addTimeoff.EndDate">{{ 'Request' | translate }}</button>
      </div>
    </div>
  </div>
</div>