<div class="row">
  <div class="col-md-8 push-md-2">
    <div class="card">
      <div class="card-header">
        {{ 'TaskHeader' | translate }}
      </div>
      <div class="card-block" *ngIf="isLoaded">
        <div class="form-group float-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addmodal">
            {{ 'AddTask' | translate }}
          </button>
        </div>
        <div class="form-group">
          <table class="table table-hover table-outline mb-0 hidden-sm-down" *ngIf="isLoaded">
            <thead class="thead-default">
              <tr>
                <td class="text-center">{{ 'Task' | translate }} <a [ngClass]="getArrowClass('TaskName')" (click)="order.emit('TaskName')"></a></td>
                <td class="text-center">{{ 'Approver1Email' | translate }} <a [ngClass]="getArrowClass('ApproverPrimaryId')" (click)="order.emit('ApproverPrimaryId')"></a></td>
                <td class="text-center">{{ 'Approver2Email' | translate }} <a [ngClass]="getArrowClass('ApproverSecondaryId')" (click)="order.emit('ApproverSecondaryId')"></a></td>
                <td class="text-center">{{ 'IsActive' | translate }} <a [ngClass]="getArrowClass('IsActive')" (click)="order.emit('IsActive')"></a></td>
                <td class="text-center">{{ 'Allows' | translate }} </td>
                <td class="text-center">{{ 'Action' | translate }} </td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks">
                <td class="text-center">{{task.TaskName}}</td>
                <td class="text-center">{{task.ApproverPrimary}}</td>
                <td class="text-center">{{task.ApproverSecondary}}</td>
                <td class="text-center" *ngIf="task.IsActive"><span class="badge badge-success timego-status">{{task.IsActive ? 'Yes' : 'No'}}</span></td>
                <td class="text-center" *ngIf="!task.IsActive"><span class="badge badge-danger timego-status">{{task.IsActive ? 'Yes' : 'No'}}</span></td>
                <td class="text-center"><div class="allow-name" *ngFor="let allow of task.Allows; let i = index"><div *ngIf="allow.Allow">{{allow.FirstName}} {{allow.LastName}}&nbsp;</div></div></td>
                <td class="text-center">
                  <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="deleteId = task.Id">{{ 'Delete' | translate }}</button>
                  <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#allowModal" (click)="selectTask = task; select = true;">{{ 'Allow' | translate }}</button>
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#editModal" (click)="cloneEditTask(task);">{{ 'Edit' | translate }}</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <pagination [totalItems]="pagingModel.count" [(ngModel)]="pagingModel.page" (pageChanged)="changePage.emit({
            orderBy: pagingModel.orderBy,
            page: $event.page,
            pageSize: pagingModel.pageSize,
            IsAscending: !pagingModel.IsAscending,
            count: pagingModel.count,
            IsOrder: false})"></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="Add period" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header timego-modal">
        <h4 class="modal-title">{{ 'AddTask' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body timego-modal">
        <div class="form-group">
          <label for="company-name">{{ 'TaskName' | translate }}</label>
          <div class="input-group mb-3 required">
            <span class="input-group-addon">
              <i class="icon-note"></i>
            </span>
            <input type="text" class="form-control" id="company-name" placeholder="Task Name" [(ngModel)]="addTask.TaskName" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTaskAction(addTask)">{{ 'Add' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="Edit period" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header timego-modal">
        <h4 class="modal-title">{{ 'Edit' | translate }} {{ 'Task' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body timego-modal">
        <div class="form-group">
          <label for="company-name">{{ 'TaskName' | translate }}</label>
          <div class="input-group mb-3 required">
            <span class="input-group-addon">
              <i class="icon-note"></i>
            </span>
            <input type="text" class="form-control" id="company-name" placeholder="Task Name" [(ngModel)]="editTask.TaskName" />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="edit.emit(editTask)">{{ 'Save' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="Delete task" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header timego-modal">
        <h4 class="modal-title">{{ 'Delete' | translate }} {{ 'Task' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body timego-modal">
        <h6>{{ 'DeleteMessage' | translate }} {{ 'Task' | translate }}?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'No' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="delete.emit({id: deleteId, paging: pagingModel})">{{ 'Yes' | translate }}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="allowModal" tabindex="-1" role="dialog" aria-labelledby="allow task" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header timego-modal">
        <h4 class="modal-title">{{ 'Allow' | translate }} {{ 'Task' | translate }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body timego-modal" *ngIf="select">
        <h6>{{ 'AllowTaskMessage' | translate }}</h6>
        <div *ngFor="let user of selectTask.Allows">
          <div class="cntr">
            <label for="{{user.UserId}}" class="label-cbx">
              <input id="{{user.UserId}}" type="checkbox" class="invisible" [(ngModel)]="user.Allow">
              <div class="checkbox">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                  <path d="M3,1 L17,1 L17,1 C18.1045695,1 19,1.8954305 19,3 L19,17 L19,17 C19,18.1045695 18.1045695,19 17,19 L3,19 L3,19 C1.8954305,19 1,18.1045695 1,17 L1,3 L1,3 C1,1.8954305 1.8954305,1 3,1 Z"></path>
                  <polyline points="4 11 8 15 16 6"></polyline>
                </svg>
              </div>
              <span>{{user.FirstName}} {{user.LastName}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Close' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="allow.emit(selectTask)">{{ 'Save' | translate }}</button>
      </div>
    </div>
  </div>
</div>