<div class="row">
  <div class="col-md-8 push-md-2">
    <div class="card">
      <div class="card-header">
        {{ 'ProfileHeader' | translate }}
      </div>
      <div class="card-block" *ngIf="isLoaded">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="company-name">{{ 'CompanyName' | translate }}</label>
              <div class="input-group mb-3 required">
                <span class="input-group-addon">
                  <i class="icon-organization"></i>
                </span>
                <input type="text" class="form-control" id="company-name" placeholder="Company name" [(ngModel)]="company.CompanyName">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="contact-name">{{ 'ContactName' | translate }}</label>
              <div class="input-group mb-3 required">
                <span class="input-group-addon">
                  <i class="icon-user"></i>
                </span>
                <input type="text" class="form-control" id="contact-name" placeholder="Contact name" [(ngModel)]="company.ContactName">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone-number">{{ 'PhoneNumber' | translate }}</label>
              <div class="input-group mb-3 required">
                <span class="input-group-addon">
                  <i class="icon-phone"></i>
                </span>
                <input type="text" class="form-control" id="phone-number" placeholder="Phone number" [(ngModel)]="company.PhoneNumber">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">{{ 'Email' | translate }}</label>
              <div class="input-group mb-3 required">
                <span class="input-group-addon">
                  <i class="">@</i>
                </span>
                <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)]="company.EmailAddress">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="vacation-approver-email">{{ 'VacationApproverEmail' | translate }}</label>
              <div class="input-group mb-3 required">
                <span class="input-group-addon">
                  <i class="">@</i>
                </span>
                <input type="email" class="form-control" id="vacation-approver-email" placeholder="Vacation Approver Email" [(ngModel)]="company.VacationApproverEmail">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="week-day">{{ 'WorkWeekStartDay' | translate }}</label>
              <div class="input-group mb-3 required">
                <span class="input-group-addon">
                  <i class="icon-calendar"></i>
                </span>
                <select id="week-day" class="form-control" [(ngModel)]="company.WorkWeekStartDay">
                  <option *ngFor="let c of weekDays" [ngValue]="c.id">{{c.text}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="timesheets">{{ 'Timesheets WeeksInAdvance' | translate }}</label>
              <div class="input-group mb-3 required">
                <span class="input-group-addon">
                  <i class="icon-globe"></i>
                </span>
                <select id="timesheets" class="form-control" [(ngModel)]="company.TimesheetsWeeks">
                  <option *ngFor="let c of timesheets" [ngValue]="c.id">{{c.text}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="companyUrl">{{ 'CompanyUrl' | translate }}</label>
              <div class="input-group">
                <input type="text" class="form-control" id="companyUrl" [(ngModel)]="company.TimeGoUrl">
                <span class="input-group-addon">
                  <i class="">.timego.com/</i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group float-right">
          <input type="button" class="btn btn-primary" value="{{ 'Save' | translate }}" (click)="save.emit(company)" />
        </div>
      </div>
    </div>
  </div>
</div>