@model TimeGo.Web.Mvc.Models.ForgotPasswordViewModel
@using TimeGo;
@{
    ViewBag.Title = Resource.ForgotPass;
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group mb-0">
                <div class="card p-4">
                    <div class="card-block">
                        <h1>@Resource.ForgotPass</h1>
                        <div class="input-group mb-3">
                            <span class="input-group-addon">
                                <i class="">@@</i>
                            </span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "" })
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="submit" value="@Resource.EmailLink" class="btn btn-primary px-4" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
