@using TimeGo;
@{
    ViewBag.Title = Resource.ForgotPasswordConfirmation;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resource.PasswordConfirmationMessage
    </p>
</div>
	
