@using TimeGo;
@{
    ViewBag.Title = Resource.ResetComplete;
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card-group mb-0">
            <div class="card p-6">
                <div class="card-block">
                    <h1>@Resource.ResetComplete</h1>
                    <div class="input-group mb-3">
                        @Resource.ResetCompleteMessage
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
