.validation-error {
  color: red; }

.input-validation-error {
  padding-right: 2.25rem !important;
  background-repeat: no-repeat !important;
  background-position: center right 0.52344rem !important;
  background-size: 1.04688rem 1.04688rem !important;
  border: 1px solid #ff5454 !important;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff5454' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") !important; }

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #f1f1f1;
  color: #ff5454;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 3; }

.tooltiptext-right {
  top: -5px;
  left: 105%; }

.tooltiptext-left {
  top: -5px;
  right: 105%; }

.tooltiptext-left::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #f1f1f1; }

.tooltiptext-right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #f1f1f1 transparent transparent; }

.input-group:hover .tooltiptext {
  visibility: visible; }

.container-fluid {
  margin-top: 30px; }

.card-header-signUp {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: white; }

.card-footer-signUp {
  padding: 0.75rem 1.25rem;
  background-color: white; }

.border-bottom {
  border-bottom: 1px solid #d1d4d7;
  padding-bottom: 13px; }

@media (max-width: 1200px) {
  .border-right {
    border-bottom: 1px solid #d1d4d7; }
  .border-left {
    border-bottom: 1px solid #d1d4d7; } }

@media (min-width: 1200px) {
  .border-right {
    border-right: 1px solid #d1d4d7; }
  .border-left {
    border-left: 1px solid #d1d4d7; } }

.required:before {
  content: "*";
  color: red;
  position: absolute;
  left: 100%;
  top: 5px;
  font-size: medium;
  margin-left: 8px; }

.datepicker {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  color: #55595c;
  padding: 7px; }

.timego-modal {
  padding: 30px; }

.timego-center {
  padding-top: 6px; }

.timego-timepicker .hidden {
  display: none; }

.timego-line {
  padding: 5px; }

.timego-line:hover {
  background-color: #f8f9fa; }

.timego-rangetimepiker-icon {
  padding-top: 11px;
  padding-right: 14px;
  color: #20a8d8; }

.timego-status {
  font-size: 14px; }

.datepicker-container {
  width: 100% !important; }

.datepicker-input-container {
  width: 100% !important; }

.datepicker-input {
  width: 75% !important; }

.datepicker-calendar-top {
  background: #20a8d8 !important; }

.datepicker-calendar-container {
  background-color: white !important; }

.datepicker-calendar-month-section {
  color: #f8f9fa !important;
  background-color: #67c2ef !important;
  padding: 10px !important; }

.day:hover:not(.disabled) {
  background: #67c2ef !important; }

.year:hover:not(.disabled) {
  background: #67c2ef !important; }

.u-is-secondary {
  background: #f8f9fa !important;
  color: #1985ac !important; }

